<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.swufe.beauty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FrameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FuncActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CreamActivity" />
        <activity android:name=".CreamListActivity" />
        <activity android:name=".EyeshadowActivity" />
        <activity android:name=".LipActivity" />
        <activity android:name=".MakeupActivity" />
        <activity android:name=".MaskActivity" />
        <activity android:name=".PerfumeActivity" />
        <activity android:name=".PolishActivity" />
        <activity android:name=".RougeActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".CommunActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".ResignActivity"></activity>
    </application>

</manifest>